#wrapper {
	height: 100vh;
	position: absolute;
	left: 0;
	top: 0;
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 15rem calc(100vw - 15rem);
}

#wrapper-sidebar {
	background-color: #f7f7f7;
	border-right: solid 1px gainsboro;
	box-shadow: black 0px 0px 3px;
	display: flex;
	flex-direction: column;
	padding: 1rem;
	gap: 0.5rem;
	z-index: 1;
}

.wrapper-sidebar-element {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	background-color: transparent;
	padding: 0.2rem;
	border-radius: 0.5rem;
	color: gray;
	transition: background-color 0.2s ease-in-out;
	transition: color 0.2s ease-in-out;
	width: 13rem;
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 2em auto;
	justify-content: start;
	cursor: pointer;
	box-sizing: border-box;
}

.wrapper-sidebar-element:hover {
	background-color: gainsboro;
	color: black;
}
